.my-btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: var(--background-color-gallery-item-button);
    color: var(--color-gallery-item-button);
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.my-btn:hover {
    color: var(--color-gallery-item-button-hover);
    background-color: var(--background-color-main-gallery-item-button-hover);
    border: var(--border-gallery-item-button-hover);
}