footer {
    background-color: var(--background-color-footer);
    color: var(--color-footer);
    text-align: center;
    bottom: 0px;
    width: 100%;
}

footer .footer-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 0.5em;
}

footer .footer-links a {
    color: var(--color-footer-links-a);
    text-decoration: none;
    margin: 10px;
}

footer .footer-links a:hover {
    text-decoration: underline;
}

footer .Instagram::before {
    content: url(./assets/instagram.png);
    margin: 5px;
}

footer .Twitter::before {
    content: url(./assets/twitter.png);
    margin: 5px;
}