.tituloSingUp {
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center
  }
  
  .container {
    display: flex;
    justify-content: center
  }
  
  form {
    background-color: var(--color-nav-a);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
  }
  
  form h1 {
  
    font-size: 24px;
    color: #232946;
    margin-bottom: 20px;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0 20px 0;
    border: 1px solid var(--color-nav-a);
    border-radius: 5px;
    background-color: var(--color-nav-a);
    font-size: 16px;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #232946;
    color: var(--color-nav-a);
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #eebbc3;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  
  @media (max-width: 768px) {
    .Accesible h1 {
      font-size: 75px;
    }
  
    form {
      width: 100%;
      padding: 20px;
    }
  }
  
  
  @media (max-width: 374px) {
  
    form {
      width: 100%;
      padding: 10px;
    }
  
    input[type="submit"] {
      padding: 10px;
    }
  }
  