.h1Carrito {
    margin: 20px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    border: var(--border-gallery-item);
    padding: 1em;
    box-sizing: border-box;
    border-radius: 15px;
    flex: 1 1 calc(50% - 2em);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 400px;
}

.imgCarrito {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 200px;
    margin: 8px;
    border-radius: 10px;
    transition: 0.5s;

}

.h2Carrito {
    margin: 20px;
}

.pCarrito {
    margin: 20px;
}

.carritoCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #000000;
    margin-top: 75px;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: space-around;
    padding: 20px;
}

#cart-info {
    margin: 20px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#buy-button {
    background-color: var(--background-color-gallery-item-button);
    color: var(--color-gallery-item-button);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 8px;
    font-size: 14px;
}

#buy-button:hover {
    color: var(--color-gallery-item-button-hover);
    background-color: var(--background-color-main-gallery-item-button-hover);
    border: var(--border-gallery-item-button-hover);
}

.h3Carrito {
    font-size: 30px;
    margin: 20px;
}

.h4Carrito {
    font-size: 50px;
    margin: 20px;
}

.imgCarritoV {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cart-item {
        width: 300px;
    }

    .imgCarrito {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 768px) {
    .cart-item {
        width: 200px;
    }

    .imgCarrito {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 374px) {
    .cart-item {
        width: 100%;
    }

    .imgCarrito {
        width: 150px;
        height: 150px;
    }
}