.tituloPA {
    margin-top: 75px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(1fr 1fr));
    height: max-content;
    width: min-content;
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
}

.imgPA {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 300px;
    margin: 20px;
    width: 300px;
}



.h2PA {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin: 20px;
}

.descripcionPA {
    font-size: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 20px;
}

.selloPA {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin: 20px;
}

.formatoPA {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    margin: 20px;
}

.precioPA {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    margin: 20px;
}

.spotyPA {
    grid-row: 6 / 7;
    grid-column: 1 / 3;
    margin: 20px;

}

.btnPA {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    background-color: var(--background-color-gallery-item-button);
    color: var(--color-gallery-item-button);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 8px;
    font-size: 14px;
    margin: 20px;
}

.btnPA:hover {
    color: var(--color-gallery-item-button-hover);
    background-color: var(--background-color-main-gallery-item-button-hover);
    border: var(--border-gallery-item-button-hover);
    margin: 20px;
}

.contador {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

#decrement-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--background-color-gallery-item-button);
    color: var(--color-gallery-item-button);
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin: 10px;
}

#increment-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--background-color-gallery-item-button);
    color: var(--color-gallery-item-button);
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin: 10px;
}

@media (max-width: 700px) {
    section {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .imgPA {
        width: 200px;
        height: 200px;
    }

    .btnPA {
        width: 60px;
    }

    .spotyPA {
        width: 350px;
    }
}


@media (max-width: 374px) {
    section {
        display: flex;
        flex-direction: column;
    }

    .imgPA {
        width: 150px;
        height: 150px;
    }

    .btnPA {
        width: 50px;
    }

    .spotyPA {
        display: none;
    }
}